/** Global Construction - Real Estate Website **/
/** Developed by - Md. Danish Iqbal **/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: 50px;
}

h2 {
  color: #353535;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3,
h3 a {
  color: #454545;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

/** General **/

html {
  -webkit-font-smoothing: antialiased;
}

.mr-rl {
  margin-left: 4%;
  margin-right: 4%;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #ce3232;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  margin: 0;
}

.section-title h4 {
  color: #bfbdbd;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

section {
  position: relative;
  padding: 100px 0;
}

#team,
#menu,
#testimonial {
  text-align: center;
}

.about-image img,
.team-thumb img {
  width: 100%;
  overflow: hidden;
}

#google-map iframe {
  border: 0;
  width: 100%;
  height: 390px;
}

/** Buttons **/

.section-btn {
  position: relative;
  background: transparent;
  color: #000;
  font-size: inherit;
  font-weight: normal;
  padding-left: 10px;
  padding-top: 4px;
  transition: 0.5s 0.2s;
  border: 1px solid #000;
  width: 150px;
  height: 31px;
}

.section-btn i {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 6px 8px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  text-align: right;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
}


/** Preloader **/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner img {
  width: 180px;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}



@-webkit-keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


/** Live Whatsapp Chat **/
.for_whatsapp_chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #37b1a3;
  border-radius: 50%;
  z-index: 1;
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.for_whatsapp_chat a i {
  color: #fff;
  font-size: 25px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}



/** Main Menu **/
.custom-navbar {
  border: none;
  margin-bottom: 0;
  padding: 10px 0;
  background: #fff !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .075);
  padding-right: 3%;
  padding-left: 18px;
}

.custom-navbar .navbar-brand {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.custom-navbar .navbar-brand img {
  width: 150px;
  margin-top: -12px;
  margin-bottom: 0px;
}

.custom-navbar .navbar-brand span {
  color: #ce3232;
}

.top-nav-collapse {
  background: #ffffff;
  padding-right: 3%;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 11em;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 10px;
  padding-left: 10px;
}

.appointment-btn a {
  background: #37b1a3;
  color: #ffffff !important;
  font-weight: 400;
  padding: 5px 16px 5px 16px !important;
  font-size: 15px !important;
  border-radius: 40px;
  margin-top: 10px !important;
}

.appointment-btn a:hover {
  background: #4267b2;
  color: #ffffff !important;
}

.custom-navbar .nav li a {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  color: #727272;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: capitalize;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active>a {
  background-color: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: #37b1a3;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #fff;
  border-color: transparent;
}

.custom-navbar.top-nav-collapse {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  padding-right: 3%;
  padding-left: 18px;
}

.top-nav-collapse .navbar-brand {
  color: #454545;
}

.top-nav-collapse .nav li a {
  color: #575757;
}

.top-nav-collapse .nav .section-btn a {
  color: #ffffff;
}


/** Main header section **/
.main_header {
  background: url('./assets/header-bgs.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}

.second_header {
  background: url('./assets/2.jpg') no-repeat top;
  background-size: cover;
  height: 70vh;
}

.second_header h1 {
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 100px;
  color: #009786;
  opacity: .3;
  text-transform: uppercase;
}

.second_header h2 {
  color: #2b2b2b;
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 60px;
  margin-left: 40px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.second_header p {
  width: 50%;
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 40px;
}

.main_header .header_left {
  margin-top: 7%;
  padding-left: 4%;
}

.main_header .header_left h1 {
  color: #009786;
  padding-bottom: 0px;
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 60px;
  margin-left: -4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_header .header_left p {
  font-size: 16px;
  color: #3a3a3a;
}

.main_header .header_left p a {
  text-decoration: underline !important;
  color: #37b1a3;
}

.header_left h1 span {
  font-size: 65px;
}

.header_right img {
  width: 100%;
  margin-bottom: 45px;
  margin-top: -20px;
}

.header_social {
  color: #000000;
  font-size: 20px !important;
}

.header_social i {
  margin-right: 10px;
  color: #009786;
  font-size: 18px;
}

.first_btn {
  outline: none;
  border: none;
  border-radius: 0px;
  background: #009786;
  border-left: 6px solid #18c2ae;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  padding: 6px 15px;
  transition: transform 0.1s ease-in;
  box-shadow: rgba(75, 187, 122, 0.705) 0px 8px 24px;
  margin-top: 14px;
}

.first_btn:hover {
  background: #1d83be;
  color: #fff;
}

.second_btn {
  border: none;
  border-radius: 0px;
  background: #009786;
  border-left: 6px solid #18c2ae;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  padding: 6px 15px;
  letter-spacing: 1px;
  transition: transform 0.1s ease-in;
  box-shadow: rgba(125, 133, 245, 0.582) 0px 8px 24px;
  margin-top: 14px;
  margin-left: 20px;
}

.second_btn:hover {
  background: #37b1a3;
  color: #fff;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 35px;
}

.scroll_down p {
  position: absolute;
  left: 47.3%;
  bottom: 0px;
  letter-spacing: 3px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}


/** Our services **/
.our_services {
  margin: 6% 2% 0% 2%;
}

.our_services .title_info p {
  font-size: 18px;
  color: #37b1a3;
}

.our_services .title_info p span {
  font-size: 25px;
  margin-left: 15px;
  color: #37b1a3;
}

.our_services .title_info h1 {
  font-size: 40px;
  color: #5e5e5e;
  margin-top: 30px;
  margin-bottom: 80px;
}

.our_services .title_info a {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  background: #37b1a3;
  padding: 10px 25px;
  border-left: 6px solid #4ef3e0;
  box-shadow: rgba(71, 170, 112, 0.705) 0px 8px 24px;
}

.our_services .tretment {
  position: relative;
  width: 310px;
  height: 320px;
  margin-left: 20px;
  border-radius: 5px;
  background: linear-gradient(125deg, #bcfff7, #fff);
  box-shadow: rgba(2, 131, 77, 0.356) 1.95px 1.95px 2.6px;
}

.our_services .tretment .service_icon {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #37b1a3;
  border-radius: 50%;
  top: -22px;
  right: 20px;
  box-shadow: rgba(0, 177, 103, 0.541) 1.95px 1.95px 2.6px;
}

.our_services .tretment .service_icon img {
  width: 38px;
  padding-top: 10px;
  padding-left: 13px;
  object-fit: contain;
}

.our_services .tretment .service_icon .root_canal {
  width: 34px;
  padding-top: 10px;
  padding-left: 8px;
  object-fit: contain;
}

.our_services .tretment .service_icon .cosmetic_densitry {
  width: 34px;
  padding-top: 10px;
  padding-left: 10px;
  object-fit: contain;
}

.our_services .tretment h1 {
  font-size: 45px;
  color: #37b1a3;
  opacity: 0.8;
}

.our_services .tretment h2 {
  font-size: 25px;
  letter-spacing: 0px;
  color: #555555;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.our_services .tretment p {
  color: #474747;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
}

/* .tretment_one {
  background: linear-gradient(45deg, #37b1a35b,
      #37b1a39c), url('./assets/services/dental-implants.jpg') no-repeat center;
  background-size: cover;
}

.tretment_two {
  background: linear-gradient(45deg, #37b1a35b,
      #37b1a39c), url('./assets/services/root-canal-treatment.jpg') no-repeat center;
  background-size: cover;
}

.tretment_three {
  background: linear-gradient(45deg, #37b1a35b,
      #37b1a39c), url('./assets/services/cosmetic-densitry.jpg') no-repeat center;
  background-size: cover;

} */

/** Appointment ads **/
.contact_in_short {
  margin-top: 130px;
  background: #009786;
  padding: 40px 0px;
  position: relative;
}

.only_logo {
  position: absolute;
  top: -70px;
  left: 4%;
  width: 130px;
}

.contact_in_short h1 {
  color: #bcfff7;
  padding-left: 2%;
  font-size: 50px;
}

.contact_in_short .contact_item {
  padding-left: 2.4%;
  display: flex;
}

.contact_in_short .contact_item p {
  margin-right: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: #fff !important;
}

.contact_in_short .contact_item p a {
  color: #fff !important;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact_in_short .contact_item p a:hover {
  color: #37b1a3;
}

.contact_in_short .contact_item p i {
  margin-right: 10px;
  font-size: 17px;
  color: #bcfff7;
}

.ads_button {
  margin-top: 45px;
}

.ads_button a {
  color: #fff;
  font-weight: lighter;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #37b1a3;
  padding: 10px;
  box-shadow: rgba(71, 170, 112, 0.705) 0px 8px 24px;
  border-left: 6px solid #4ef3e0;
}



/** Our gallery **/
.our_gallery {
  padding: 6% 2% 0% 2%;
}

.our_gallery h1 {
  text-align: center;
}

.our_gallery h1 span {
  color: #37b1a3;
}

.our_gallery p {
  text-align: center;
  color: #353535;
  font-size: 17px;
  padding: 0px 180px;
  margin-bottom: 30px;
}

.thumbs img {
  width: 100%;
  margin-top: 30px;
}

.lightbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 1;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.lightbox:has(div:target) {
  transform: translateY(0%);
  opacity: 1;
}

.lightbox a.nav {
  text-decoration: none;
  color: white;
  font-size: 40px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  font-weight: 200;
}

.lightbox a.nav:hover {
  opacity: 1;
}

.lightbox .target {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  transform: scale(0);
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  margin-top: 30px;
}

.lightbox .target *:first-child,
.lightbox .target *:last-child {
  flex: 0 0 100px;
  text-align: center;
}

@media all and (max-width: 600px) {

  .lightbox .target *:first-child,
  .lightbox .target *:last-child {
    flex: 0 0 50px;
  }
}

.lightbox .target .content {
  transform: scale(0.9);
  opacity: 0;
  flex: 1 1 auto;
  align-self: center;
  max-height: 100%;
  min-height: 0;
  min-width: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.lightbox .target .content img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: calc(100vh - 40px);
  display: block;
  margin: 0;
}

.lightbox .target:target {
  transform: scale(1);
}

.lightbox .target:target .content {
  transform: scale(1);
  opacity: 1;
}

.lightbox .close {
  position: absolute;
  right: 135px;
  top: 90px;
  opacity: 1;
}

.lightbox .close img {
  width: 26px;
}


/** About section **/
#about {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 2%;
  position: relative;
}

#about .doctor_img img {
  position: absolute;
  right: 80px;
  top: 0px;
  width: 55%;
}

#about {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about h6 {
  color: #858585;
  margin: 0;
}

#about h2 {
  font-size: 47px !important;
}

#about h2 span {
  color: #37b1a3;
}

#about .about-tag {
  font-size: 25px;
  color: #888;
  margin-top: -20px !important;
}

#about .about-info p {
  font-size: 16px;
  color: #353535;
  margin-top: 20px;
  margin-bottom: 60px;
}

#about .about-info a {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  background: #009786;
  padding: 10px 25px;
  border-left: 6px solid #4ef3e0;
  box-shadow: rgba(71, 170, 112, 0.705) 0px 8px 24px;
}

#about .about-info .contact_btn {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  background: #009786;
  padding: 10px 25px;
  border-left: 6px solid #4ef3e0;
  box-shadow: rgba(71, 170, 112, 0.705) 0px 8px 24px;
  margin-left: 30px;
}


/** Our Doctors Team **/
.doctors_team {
  padding: 0px 11px;
}

.doctors_team .team_title {
  text-align: center;
  margin-top: -40px;
}

.doctors_team .team_title span {
  color: #37b1a3;
}

.doctors_team .team_title p {
  font-size: 17px;
  padding: 0px 180px;
  margin-bottom: 80px;
}

.staff {
  overflow: hidden;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.staff .img {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-position: top center;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 50%;
  margin: 0 auto;
  border: 10px solid #34bbab;
}

.staff .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  content: '';
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.staff .text {
  position: relative;
  background: #009786;
  padding: 110px 20px 30px 20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -100px;
  z-index: -1;
}

.staff .text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #bcfff7;
}

.staff .text .position {
  color: #fff;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.staff .text .faded {
  opacity: 1;
}

.staff .text .faded p {
  color: #fff;
}

.staff .team_social {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.staff .team_social li a {
  width: 34px;
  height: 34px;
  color: #bcfff7;
}

.team_social {
  padding: 0;
}

.team_social li {
  list-style: none;
  margin-right: 10px;
  display: inline-block;
}

/*---------------------------------------
      TEAM              
  -----------------------------------------*/

#team {
  background: #f9f9f9;
}

#team .section-title h2 {
  font-size: 35px;
  color: #000;
  text-transform: capitalize;
}

#team .section-title p {
  padding: 0px 100px;
  text-align: center;
}

#team .ongoing_project h1 {
  text-align: left;
  padding: 0px 0px 10px 15px;
  text-transform: uppercase;
  font-size: 30px;
  color: #535353;
  border-bottom: 2px solid #535353;
  margin: 0% 1% 3% 1%;
}

#team .ongoing_project h1 img {
  width: 30px;
  margin-top: -10px;
}

#team .upcoming_project {
  margin-top: 50px;
}

#team .upcoming_project h1 {
  text-align: left;
  padding: 0px 0px 10px 15px;
  text-transform: uppercase;
  font-size: 30px;
  color: #535353;
  border-bottom: 2px solid #535353;
  margin: 0% 1% 3% 1%;
}

#team .upcoming_project h1 img {
  width: 30px;
  margin-top: -10px;
}

.team-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-info {
  background: #ffffffa8;
  position: absolute;
  bottom: 10px;
  left: 25px;
  padding: 4px 10px;
  border-radius: 4px;
}

.team-info h3 {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0px;
}

.team-info p {
  color: #808080;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-top: 5px;
}

.second_row {
  margin-top: 40px;
}

.team-thumb .team-hover {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.team-thumb img {
  transition: 0.5s 0.2s;
}

.team-thumb:hover img {
  transform: scale(1.2);
}

.team-thumb .social-icon li a {
  background: #292929;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9d9d9;
  font-size: 20px;
  margin: 15px 5px 0 5px;
}

.team-thumb .team-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team-item h4 {
  color: #ffffff;
}


/*---------------------------------------
     MENU              
  -----------------------------------------*/

#menu {
  padding-bottom: 0;
}

#menu .container {
  width: 100%;
}

#menu .col-md-4 {
  margin: 0;
  padding: 0;
}

.menu-thumb img {
  width: 100%;
  transition: 0.5s;
}

.menu-thumb:hover img {
  transform: scale(1.15);
}

#menu .menu-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 102%;
}

.menu-thumb .menu-info {
  position: absolute;
  top: 60%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding: 25px 30px;
  transition: 0.5s 0.2s;
}

.menu-info .menu-item {
  float: left;
}

.menu-info .menu-price {
  float: right;
}

.menu-info .menu-price span {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  display: block;
  margin-top: 10px;
}

.menu-thumb .menu-info h3,
.menu-thumb .menu-info p,
.menu-thumb .menu-info span {
  transform: translateY(100%);
  opacity: 0;
  display: block;
  transition: 0.5s 0.2s;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.menu-thumb .menu-info h3 {
  margin-top: 0;
}

.menu-thumb .menu-info p {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu-thumb:hover .menu-info h3,
.menu-thumb:hover .menu-info p,
.menu-thumb:hover .menu-info span {
  transform: translateY(0px);
  opacity: 1;
}

.menu-thumb:hover .menu-info {
  background: rgba(0, 0, 0, 0.8);
}



/** Testimonial section **/
#testimonial {
  margin-top: 0px;
  padding-top: 0px !important;
  padding: 0% 2%;
  z-index: -1;
}

#testimonial .item {
  background: linear-gradient(125deg, #fff, #bcfff7);
}

#testimonial .item img {
  width: 450px;
  height: 100%;
}

#testimonial .owl-dots {
  position: relative;
  top: 0;
  right: 0;
  justify-content: center;
}

#testimonial .owl-theme .owl-dots .owl-dot,
#testimonial .owl-theme .owl-dots .owl-dot span {
  display: inline-block;
  border-color: #000 !important;
  cursor: pointer;
}

#testimonial .owl-theme .owl-dots .owl-dot span {
  margin: 20px 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #009786;
  border-color: #009786;
  cursor: pointer !important;
}

#testimonial h1 span {
  color: #009786;
  text-align: center;
}

#testimonial .col-md-8 {
  padding: 30px 0px 0px 80px;
}

#testimonial .section-title p {
  text-align: center;
  font-size: 17px;
  padding: 0px 180px;
}

#testimonial p {
  color: #727272;
  font-size: 20px;
  line-height: 35px;
  padding-top: 5%;
  text-align: left !important;
  padding-right: 30px;
}

.tst-author {
  margin-top: 16%;
  text-align: left !important;
}

.tst-author h4,
.tst-author h5,
.tst-author span {
  color: #009786;
}

.tst-author span {
  margin-left: 0px;
  text-align: left;
}

#testimonial .review img {
  width: 45px;
  opacity: 1;
}


/** Contact section **/
#contact {
  margin-top: -20px;
  padding: 100px 30px 20px 10px;
}

#contact h1 {
  margin-top: 0px !important;
  margin-bottom: 15px;
}

#contact h1 span {
  color: #009786;
}

#contact .text-success,
#contact .text-danger {
  display: none;
}

#contact .form-control {
  border: 1px solid #009786;
  border-left: 5px solid #009786;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:hover,
#contact .form-control:focus {
  border-bottom-color: #c9c9c9;
}

#contact input {
  height: 50px;
}

#contact input::placeholder {
  color: #009786;
  letter-spacing: 2px;
}

#contact textarea::placeholder {
  color: #009786;
  letter-spacing: 2px;
}

#contact button {
  background: #009786 !important;
  border-radius: 0px !important;
  border: 0px !important;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  height: 50px;
}

#contact button:hover {
  background: #292929;
  color: #ffffff;
}

/** Footer section **/

#footer {
  padding: 30px 20px;
  background: #009786;
  margin-top: 50px;
}

.footer_items h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer_items p {
  color: #d3d3d3 !important;
  font-size: 17px;
  text-align: left !important;
}

.footer_items a {
  color: #d3d3d3 !important;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  text-align: left !important;
  letter-spacing: 1px;
}

#footer .copyright {
  padding-top: 50px;
}

#footer .copyright p {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

#footer .copyright a {
  color: #fff;
  text-decoration: underline !important;
}




/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a {
  border-radius: 100px;
  color: #ce3232;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.social-icon li a:hover {
  background: #ce3232;
  color: #ffffff;
}



/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (max-width: 1170px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: inherit;
  }
}


@media only screen and (max-width: 1200px) {
  .about-info {
    padding-right: 0;
  }

  .about-image {
    position: relative;
  }
}


@media only screen and (max-width: 992px) {
  section {
    padding: 60px 0;
  }

  .custom-navbar .section-btn {
    margin-left: 1em;
  }

  .slider .item {
    background-position: center;
  }

  .about-info {
    padding: 0;
  }

  .team-info {
    margin-bottom: 50px;
  }

  #menu .menu-thumb {
    width: 103%;
  }

  #testimonial {
    background-position: 50% 0 !important;
  }

  #google-map,
  .footer-info {
    margin-bottom: 50px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-navbar .nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
}



@media only screen and (max-width: 580px) {

  h2 {
    font-size: 1.8em;
  }

  .menu-thumb .menu-info {
    top: 60%;
  }
}

/** About page about section **/
.about_left,
.about_right {
  position: relative;
}

.about_left .pattern {
  position: absolute;
  width: 340px;
  bottom: 0;
  left: 0;
  margin-bottom: -30px;
  margin-left: -80px;
  z-index: -1;
}

.about_right .pattern {
  position: absolute;
  width: 340px;
  top: 0;
  right: 0;
  margin-top: -70px;
  margin-right: -60px;
  z-index: -1;
}

/** About page Ads section **/
.ads_section {
  background: #CACFD3;
  padding: 15px 100px 30px 100px;
  text-align: center;
}

.ads_section h1 {
  font-size: 30px;
  color: #474747;
  font-family: sans-serif;
}

/** About page Out team section **/
.our_team {
  margin: 0% 4% 7% 4%;
}

.our_team .team_title {
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: #7e7e7e;
  font-size: 35px;
  letter-spacing: 1px;
}

.our_team .team_para {
  text-align: center;
  padding: 0px 200px;
  color: #7e7e7e;
  font-size: 15px;
}

.team_member {
  background: transparent;
  margin-top: 50px;
}

.team_details {
  margin-left: -10px;
  margin-top: -15px;
}

.team_details h1 {
  font-size: 30px;
  color: #7e7e7e;
}

.team_details p {
  font-size: 15px;
  color: #000;
}

.team_details a {
  background: #7e7e7e;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.team_member img {
  width: 270px;
  border-radius: 5px;
  box-shadow: rgba(46, 46, 46, 0.664) 0px 2px 8px 0px;
}